@use '_variables' as _Color;

.button {
    font-family: "Italianno", serif;
    padding: .75rem;
    margin: 0 auto;
    font-size: 2rem;
    text-align: center;
    white-space: nowrap;
    text-align: center;
    width: max-content;

    &--primary {
        color: _Color.$c-2f;
        border: 1px solid _Color.$c-a9;
    }

    &:hover {
        transform: scale(1.1);
    }

    @media (max-width:640px) {
        display: block;
    }

    @media (max-width:1024px) {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}